{% extends 'index.html' %}


{% block right  %}

        <!-- 内容区域 -->


<div class="tpl-content-wrapper">
 

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading">
                    <span class="am-icon-home page-header-heading-icon"></span> 添加表单
                </div>
                
            </div>
           
        </div>

    </div>

    <div class="row-content am-cf">


        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf" >
                        <div class="widget-title am-fl">线条表单</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                    
                    <form class="am-form tpl-form-line-form" method="post">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                         {% for b in book %}

                            
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">作者 <span class="tpl-form-line-small-title">Title</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text"  name="authorname" value="{{ b.author.name }}" class="tpl-form-input" id="user-name" placeholder="请输入标题作者">
                                        <small>请填写标题文字10-20字左右。</small>
                                    </div>
                                </div>

                            
                    <input type="hidden" name="aid" value="{{ b.author.id  }}" />
                    <input type="hidden" name="bid" value="{{ b.id  }}" />


                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">图书 <span class="tpl-form-line-small-title">Title</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text"  name="bookname"  value="{{ b.name }}"  class="tpl-form-input" id="user-name" placeholder="请输入标题书名">
                                        <small>请填写标题文字10-20字左右。</small>
                                    </div>
                                </div>
                              
                               
                                
                               
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button  class="am-btn am-btn-primary tpl-btn-bg-color-success" >提交</button>
                                    
                                   


                                    </div>
                                
                            </div>
                     
                    {% endfor%}
                    </form>
                       
                    </div>
                </div>     
            </div>
        </div>
    </div>
     
</div>
    



     
   <!-- 
    <script type="text/javascript">
        $("#s1").change(function(){
         
            var sel_obj = document.getElementById("s1")

            var index = sel_obj.selectedIndex;

            var value=(sel_obj.options[index]).value;
                $.get('/select',{"data":value},function(data){
                    
                    if(data.code==0){


                    }

                },"json")
           
               



        })

           


 
       
    </script> -->
{% endblock right %}

